/* Navbar styling */
.navbar {
  background-color: #333; 
  color: #fff; 
  padding: 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu items styling */
.menu {
  display: flex;
  gap: 40px;
}

.menu div {
  cursor: pointer;
  margin-right: 10px; 
  transition: color 0.3s;
}

.menu div:hover {
  color: #ddd; 
}

/* More section styling */
.more-dropdown {
  position: relative;
  cursor: pointer;
}

.more-dropdown > div {
  margin-right: 10px; 
}

/* Hidden dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555; 
  min-width: 160px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show dropdown content on hover */
.more-dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown items styling */
.dropdown-content div {
  color: #fff; 
  padding: 12px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content div:hover {
  background-color: #ddd; 
  color: #333; 
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-field-input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 14px; 
}

.search-symbol {
  cursor: pointer;
}


  /* Carousel.css */

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-card {
    min-width: 300px;
    margin: 0 10px;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .carousel-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  /* Custom styles for navigation arrows and indicators */
  
  .carousel-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .carousel-arrow {
    color: #ccc;
    cursor: pointer;
  }
  
  .carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    background-color: #ccc;
  }
  
  .carousel-indicator.active {
    background-color: #3498db;
  }
  